<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">



    <!-- 指定父包 -->
    <context:component-scan base-package = "com.example" />

    <!-- 声明aop -->
    <aop:aspectj-autoproxy />

    <!-- jdbc配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource"
                                init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxActive" value="${jdbc.maxActive}" />
    </bean>

    <!-- mybatis中的对象 -->
    <bean id = "sqlSessionFactory" class = "org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref = "myDataSource" />
        <property name="configLocation" value = "classpath:mybatis.xml" />
    </bean>

    <!-- 创建dao对象 -->
    <bean class = "org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定sqlSessionFactory对象id -->
        <property name="sqlSessionFactoryBeanName" value = "sqlSessionFactory" />
        <!-- 指定包名 -->
        <property name="basePackage" value = "com.example.mybatis.dao" />
    </bean>

    <!-- spring事务管理器 -->
    <bean id = "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 指定数据库 -->
        <property name = 'dataSource' ref = "myDataSource" />
    </bean>
</beans>
